<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

       <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active"
          >Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Login
        </a>
      </li>
     
    </ul>
  </div>
</nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home2" routerLinkActive="active"
          >Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/menu" routerLinkActive="active"
           >Menu</a
         >  
      </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"
            ><div class="orders_icon">
              <i class="fa fa-shopping-orders"></i>
              <div class="orders_value">
                Orders
              </div>
            </div></a
          > 
        
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payment" routerLinkActive="active"
          >Payment
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="d-flex flex-row flex-wrap p-4 mt-4 bg-dark text-white ">
  <div class="social-media ml-4">
    <h3 class="text-center">Social media</h3>
    <ul class="list mt-4">
    <li><a href="https://en-gb.facebook.com/" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/accounts/login/" target="_blank">Instagram</a></li>
    <li><a href="https://twitter.com/login?lang=en" target="_blank">twitter</a></li>
    <li><a href="https://web.whatsapp.com/" target="_blank">Whatsapp</a></li>
  </ul>
</div>
<div class="contact-us ml-auto mr-4">
<h3 class="text-center">Contact us</h3>
<ul>
<li><i class="fa fa-map-marker" aria-hidden="true">Chennai</i></li>
<li><i class="fa fa-phone" aria-hidden="true">+918787886919</i></li>
<li><i class="fa fa-envelope" aria-hidden="true">Contact us @hangoverfoodspot.com</i></li>
</ul>
</div>
</div>
<div class="copyright text-center text-white">
Copyright &copy: Hangover 2021. All rights reserved.
</div>