
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hangover food spot</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	

	

	</head>
	<body>

	<div id="fh5co-container">
		
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					
					<div>
                        <div class="container">
                            <h1 class="jumbotron-heading" style="color:  #800020;text-align: center;">Welcome to Hangover Foodspot</h1>
            
                        </div>
            
                </div>
					
				</div>
				
			</div>
		</div>

		<div id="fh5co-about" data-section="about">
			<div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url(src\assets\res_img_1.jpg)"></div>
			<div class="fh5co-2col fh5co-text">
				<h2 class="heading to-animate">About Us</h2>
				<p class="to-animate">At Hang OverFoodspot we continue to strive to bring you healthy, delicious and hygienic food choices in the form of our wide array of choices. We look forward to touching more lives and going from strength to strength with our customers every step of the journey.</p>
			</div>
		</div>

		<div id="fh5co-sayings">
			<div class="container">
				<div class="row to-animate">

					<div class="flexslider">
						<ul class="slides">
							
							<li>
								<blockquote>
									<p>&ldquo;Cooking is an art, but all art requires knowing something about the techniques and materials&rdquo;</p>
									<p class="quote-author">&mdash; Nathan Myhrvold</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Give a man food, and he can eat for a day. Give a man a job, and he can only eat for 30 minutes on break.&rdquo;</p>
									<p class="quote-author">&mdash; Lev L. Spiro</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Find something you’re passionate about and keep tremendously interested in it.&rdquo;</p>
									<p class="quote-author">&mdash; Julia Child</p>
								</blockquote>
							</li>
							<li>
								<blockquote>
									<p>&ldquo;Never work before breakfast; if you have to work before breakfast, eat your breakfast first.&rdquo;</p>
									<p class="quote-author">&mdash; Josh Billings</p>
								</blockquote>
							</li>
							
							
						</ul>
					</div>

				</div>
			</div>
		</div>

		<div id="fh5co-menus" data-section="menu">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading to-animate">Food Menu</h2>
					</div>
				</div>
				<div class="row row-padded">
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-drinks">Beverages</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\res_img_5.jpg"  >
										</figure>
										<div>
											<h3>Fresh Juices</h3>
											<p>Pineapple juice is a liquid made from pressing the natural liquid from the pulp of the pineapple</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/120
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\green juice.jpg" >
										</figure>
										<div>
											<h3>Green Juices</h3>
											<p>Green juice is a beverage made from the juices of green vegetables.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/120
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Soft drinks.jpg" >
										</figure>
										<div>
											<h3>Soft Drinks</h3>
											<p>Soft drink, any of a class of nonalcoholic beverages.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/80
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Milkshake.jpg" >
										</figure>
										<div>
											<h3>Milk Shakes</h3>
											<p>A cold drink made of milk, a sweet flavouring such as fruit or chocolate, and typically ice cream.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/180
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<h2 class="fh5co-dishes">Veg and Non-Veg Snacks</h2>
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Veg burger.jpg" >
										</figure>
										<div>
											<h3>Veg Burger</h3>
											<p> These Burgers are made with pure veg ingredients and does not contain any meet.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/200
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Veg pizza.jpg" >
										</figure>
										<div>
											<h3>Veg Pizza</h3>
											<p>These Pizza's are made with pure veg ingredients and does not contain any meet.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/280
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Veg roll.jpg" >
										</figure>
										<div>
											<h3>Veg Roll</h3>
											<p>Made up of cuts of lean beef and seasoned with fresh herbs and vegetables such as leeks and onions.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/150
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Panner tikka.png" >
										</figure>
										<div>
											<h3>Panner Tikka</h3>
											<p>Paneer tikka is made from chunks of paneer marinated in spices and grilled in a tandoor.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/200
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">

							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Mocktails.jpg" >
										</figure>
										<div>
											<h3>Mocktails</h3>
											<p>A smooth blend of non-alcoholic drinks, which can include fresh fruit juices, syrups, cream and herbs. </p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/150
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Smoothies.jpg" >
										</figure>
										<div>
											<h3>Smoothies</h3>
											<p>A creamy beverage made of fruit blended with juice, milk, or yogurt. </p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/180
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-food-menu to-animate-2">
							<ul>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Chicken burgger.jpg" >
										</figure>
										<div>
											<h3>Chicken Burger</h3>
											<p>A hot sandwich made of a patty of chicken in a bun, often with other ingredients. The chicken patty used in such a sandwich.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/280
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Chicken pizza.jpg" >
										</figure>
										<div>
											<h3>Chicken Pizza</h3>
											<p>These Pizza's are made with non-veg ingredients like chicken, prawn,meet balls with cheese,onion and tomato.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/390
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Chicken roll.jpg" >
										</figure>
										<div>
											<h3>Chicken Roll</h3>
											<p>Chicken Roll is made using all purpose flour, stir-fried chicken, yoghurt and a variety of vegetables rolled into paranthas.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										RS/220
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Chicken tikka.jpg" >
										</figure>
										<div>
											<h3>Chicken Tikka</h3>
											<p>Dish consisting of marinated boneless chicken pieces that are traditionally cooked in a tandoor and then served in a subtly spiced tomato-cream sauce</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/280
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Shawarma.JPG" >
										</figure>
										<div>
											<h3>Shawarma</h3>
											<p>Shawarma is of meat cut into thin slices, stacked in a cone-like shape, and roasted on a slowly-turning vertical rotisserie or spit. Made with chicken and french fries are added.</p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/160
									</div>
								</li>
								<li>
									<div class="fh5co-food-desc">
										<figure>
											<img src="assets\Chicken popcorn.jpg" >
										</figure>
										<div>
											<h3>Chicken Popcorn</h3>
											<p>Popcorn chicken is an American dish consisting of tiny, bite-sized pieces of chicken that have been breaded or battered and deep-fried. </p>
										</div>
									</div>
									<div class="fh5co-food-pricing">
										Rs/200
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-4 col-md-offset-4 text-center to-animate-2">
						<p><a href="http://localhost:4200/menu" class="btn btn-primary btn-outline">More Food Menu</a></p>
					</div>
				</div>-->
			</div>
		</div>

		
	</div>


	
	
	
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="js/moment.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="js/main.js"></script>

	</body>
    <footer>
        <div id="fh5co-footer">
            <div class="container">
                <div class="row row-padded">
                    <div class="col-md-12 text-center">
                        <p class="to-animate">&copy; Hangover Foodspot. <br> Designed by <a>Hangover Team</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>

